*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    min-height:100vh;
    overflow-x:hidden;

    background:
    linear-gradient(135deg,#ff4f9a,#f7f7f7);

    color:white;

    position:relative;
}

.glitter{
    position:fixed;

    width:100%;
    height:100%;

    background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(#ff4f9a 1px, transparent 1px);

    background-size:50px 50px;

    opacity:0.4;

    animation: brilho 6s linear infinite;

    z-index:-1;
}

@keyframes brilho{

    0%{
        transform:translateY(0);
    }

    100%{
        transform:translateY(-60px);
    }

}

header{
    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 80px;
}

.logo{
    font-size:32px;

    font-weight:700;

    text-shadow:0 0 15px #ff4f9a;
}

nav a{
    color:white;

    text-decoration:none;

    margin-left:25px;

    font-weight:500;

    transition:0.3s;
}

nav a:hover{
    color:#ff4f9a;
}

.hero{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px;

    min-height:80vh;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:60px;

    margin-bottom:20px;

    line-height:1.1;
}

.hero-text p{
    font-size:18px;

    margin-bottom:30px;
}

button{
    padding:15px 35px;

    border:none;

    border-radius:40px;

    background:#ff4f9a;

    color:#333;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:scale(1.05);

    box-shadow:0 0 20px #ff4f9a;
}

.hero-image{
    font-size:180px;

    animation:flutuar 3s ease-in-out infinite;
}

@keyframes flutuar{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }

}

.cards{
    display:flex;

    justify-content:center;

    gap:30px;

    padding:50px;

    flex-wrap:wrap;
}

.card{
    width:300px;

    padding:35px;

    background:rgba(255,255,255,0.15);

    border-radius:25px;

    backdrop-filter:blur(15px);

    box-shadow:0 0 20px #ff4f9a;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    margin-bottom:15px;
}

.card p{
    font-size:15px;
}

.circle-link{
    text-decoration:none;
}

.circle{
    width:350;

    height:350px;

    border-radius:50%;

    background:
    radial-gradient(circle at top,
    rgba(255,255,255,0.8),
    rgba(255,79,154,0.4));

    backdrop-filter:blur(25px);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:70px;

    color:white;

    box-shadow:
    0 0 30px #ff4f9a,
    0 0 60px #ff4f9a;

    animation:
    flutuar 4s ease-in-out infinite,
    brilhoPulse 2s infinite alternate;

    cursor:pointer;

    transition:0.4s;
}

.circle:hover{

    transform:scale(1.08);

    box-shadow:
    0 0 50px white,
    0 0 90px #ff4f9a;
}

@keyframes brilhoPulse{

    from{
        opacity:0.8;
    }

    to{
        opacity:1;
    }

}

.quiz-container{

    min-height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;
}

.quiz-container h1{

    font-size:55px;

    margin-bottom:15px;
}

.quiz-container p{

    font-size:18px;

    margin-bottom:50px;
}

.quiz-cards{

    display:flex;

    gap:30px;

    flex-wrap:wrap;

    justify-content:center;
}

.quiz-card{

    width:220px;

    height:220px;

    border-radius:30px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(20px);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    font-weight:600;

    box-shadow:0 0 20px #ff4f9a;

    cursor:pointer;

    transition:0.4s;
}

.quiz-card:hover{

    transform:
    translateY(-10px)
    scale(1.05);

    box-shadow:
    0 0 30px white,
    0 0 50px #ff4f9a;
}

.circles-container{
    position:relative;
    width:500px;
    height:420px;
    margin:auto;
    margin-top: 60px;
}

.circle-link{
    text-decoration:none;
    position:absolute;
}

.circle{
    width:220px;
    height:220px;
    border-radius:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:#ff4fa3;
    font-size:30px;
    font-weight:bold;

    transition:0.4s ease;

    cursor:pointer;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.10);
}

.circle:hover{

    transform:scale(1.06);

    box-shadow:
    0 0 20px #ff69b4,
    0 0 40px rgba(255,105,180,0.7),
    0 10px 30px rgba(0,0,0,0.15);
}

/* BOLA DE CIMA */
.top-circle{
    top:0;
    right: 20px;
}

/* BOLA DE BAIXO */
.bottom-circle{
    bottom:0;
    left:20px;
}

#resultado{

    margin-top:50px;
}

.resultado-card{

    width:700px;

    max-width:90%;

    padding:40px;

    border-radius:30px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(20px);

    box-shadow:0 0 30px #ff4f9a;

    animation:aparecer 0.5s ease;
}

.resultado-card h2{

    margin-bottom:25px;

    font-size:35px;
}

.resultado-card p{

    font-size:20px;

    line-height:2;
}

@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.quiz-box{

    width:800px;

    max-width:90%;

    padding:50px;

    border-radius:35px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(20px);

    box-shadow:0 0 30px #ff4f9a;

    text-align:center;

    animation:aparecer 0.5s ease;
}

.quiz-box h1{

    font-size:45px;

    margin-bottom:40px;
}

.opcoes{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.opcoes button{

    padding:20px;

    border:none;

    border-radius:20px;

    background:rgba(255,255,255,0.2);

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.opcoes button:hover{

    transform:scale(1.03);

    background:#ff4f9a;
}

.selecionado{

    background:#ff4f9a !important;

    color:white;

    transform:scale(1.03);
}

.resultado-texto{

    margin-top:30px;

    font-size:22px;

    line-height:2;
}

.circle-link{
    text-decoration:none;
}

.circle{
    width:180px;
    height:180px;
    border-radius:50%;
    background:#ff69b4;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:25px;
    cursor:pointer;
    transition:0.3s;
}

.circle:hover{
    transform:scale(1.05);
}

.card-link{
    text-decoration:none;
    color:white;
}

.hero-text a {
    display: block;
    margin-bottom: 15px;
}

.bg-image{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url('https://images.unsplash.com/photo-1712481697233-83850fd0ca32?q=80&w=1170&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    filter:grayscale(100%);
    opacity:0.15;
    z-index:-1;
}

/* BOLA FÓRUM */
.forum-circle{
    position:absolute;
    top:20px;
    left:90px;
}